*{
    margin: 0;
    padding: 0;
}
.home{
    margin: 0;
    padding: 0;
}


.content-wrapper{
    position: absolute;
    bottom: calc(50% - 11.1rem);
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid red; */
   
}

.content-wrapper-header{
    background: transparent;
    height: 4rem;
    max-height: none;
    width: 20rem;
    position: relative;
    overflow: hidden;
 
}

.content-wrapper-header img{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    object-fit: contain;
    opacity: 1;
  
}

.content-wrapper-subheader {
    margin-top: 3rem;
    color: white;
    text-align: center;
font-family: Helvetica,sans-serif;
/* margin-bottom: 3rem; */
}
.next-line{
    font-weight: 500;
    font-size: 36px;
    line-height: 48px
}
 .searchContainer{
    position: relative;
    width: 50rem;
    height: 3rem;
    font-size: 25px;
    border: 2px white solid;
    border-radius: .5rem;
    margin-top: 3rem;
    object-fit: contain;
    
    /* display: inline; */
}

@media(max-width: 960px){
    .searchContainer{
        width: calc(100% - 4.8rem);
    }
}

.catagiryContainer{
    display: flex;
    width: 100vw;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.collectivcontainer{
    display: flex;
    width: 100vw;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.title{
    text-align: center;
}

.popular-locations-container{
    display: flex;
    /* grid-template-columns: repeat(3); */
    /* -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center; */
}

.getzomatoappContainer{
      /* grid-template-columns: repeat(3); */
    background-color:rgba(255, 166, 166, 0.1);
    height:80vh;
    padding: 3rem;
    min-width: 50rem;
    /* -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 3rem; */
}

.footerContainer{
    background-color: rgba(37, 31, 31, 0.425);
}